<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <style type="text/css">
    body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}
    h1,h2,h3{line-height:1.2}
    </style>

</head>
<body>
<marquee>
<h1>Login</h1>

<p>Input your user name</p>
</marquee>
<p>Enter User Name</p>
         <form action="/login" method="post">
            <input type="text" name="user_name"></input>
            <input type="submit" value="Go!"></input>
            </form>

<p>I are an webdev</p>
</body>
</html>
